*~
*.o
*.a
*.so
*.so.*.*.*
*.mod
*.f90
tests/test*.txt
tests/test*.out
tests/*.ftn90
tests/data/
tests/compile.log
Makefile.test
examples/lowLevel_levels
examples/topLevel_levels
examples/use_dpidpis
examples/use_new_gen
examples/use_new_read
lib/log-*-*-*-*-*
lib/report-*-*-*-*-*
lib/work-*-*-*-*-*
vgriddescriptors_*
vgriddescriptors/
README_COMMIT
libc/Makefile.dep
tests/*.out
tests/WORK
tests/compile_INFO
control

