*~
*.o
*.mod
*.f90
tests/test*.txt
tests/test*.out
tests/data/
tests/compile.log
tests/WORK/
Makefile.test
examples/lowLevel_levels
examples/topLevel_levels
examples/use_dpidpis
examples/use_new_gen
examples/use_new_read
log-*-*-*-*-*
report-*-*-*-*-*
vgriddescriptors_*
vgriddescriptors/
lib/libdescrip.a
